
body{
	margin:0;
	padding:0;
}
	.mandatory{
     color:red;
     }

	.loginBox{
		margin-top:2%;
		margin-left:40%;
		width:350px;
		height: auto;
		padding: 10px 40px 40px;
		box-sizing :border-box;
		background: lightblue;
	}
	h2{
		margin: 0;
		padding: 0 0 20px;
		color: white;
		font-size:30px;
		font-weight: bold;
		text-align: center;
	}
	.loginBox label{
		margin: 0;
		padding: 0;
		font-size:25px;
		color: black;
	}
	.loginBox input{
		width: 100%;
		margin-bottom: 20px;
	}
	.loginBox input[type="text"],
	.loginBox input[type="password"]
	{
		border:none;
		border-bottom: 1px solid #000000;
		background: transparent;
		outline: none;
		height: 40px;
		color: #fff;
		font-size: 16px;
	}
	
	.loginBox input[placeholder="Enter Username"],
	.loginBox input[placeholder="Enter Password"]
	{
      color: #000000;
	}
	.loginBox button[type="submit"]
	{
		border:none;
		outline: none;
		height: 30px;
		width:270px;
		color: #fff;
		font-size: 20px;
		background: blue;
		text-align: center;
		cursor: pointer;
		border-radius: 20px;
		margin-top:10px;
	}
	.loginBox a
	{
		font-size: 20px;
		font-weight: bold;
		text-decoration: none;
	}
	@media only screen and (min-width:701px) and (max-width:900px){
     .loginBox{
       margin-left:250px;
     }
	}
	
	@media only screen and (min-width:601px) and (max-width:700px){
     .loginBox{
       margin-left:160px;
     }
    }
	
	@media only screen and (min-width:451px) and (max-width:600px){
     .loginBox{
       margin-left:120px;
     }
    }
    @media only screen and (min-width:301px) and (max-width:450px){
     .loginBox{
       margin-left:80px;
     }
    }
     @media only screen and (min-width:201px) and (max-width:300px){
     .loginBox{
       margin-left:50px;
     }
    }
     @media only screen and (max-width:200px){
     .loginBox{
       margin-left:30px;
       
     }
    }
	.field
	{
	   width:100%;
	   font-size:20px;
	   margin-top:10px;
	}
	

   .error
   {
     margin-top:5%;
     margin-left:40%;
     width:350px;
     height:40px;
   }
   