#secondHeader{
	background-color: white;
	border: 1px solid #f1efef;
	height:auto;
	padding:5px;
}


/* Full-width input fields */
.modallabel{
	width:100%;
	
}
/*input[type=text], input[type=password], textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}*/
.modal-inputs{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.resize{
	resize:vertical;
}
.modalSelect{
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: !important 0px;
  box-sizing: !important border-box;
}

/* Set a style for all buttons */
.modalButton {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

.modalButton:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.formCancelAndSubmitbtn {
  margin: 5px;
}

/* Center the image and position the close button */
.modalimgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}



.modalcontainer {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 105; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.previewImageContainer{
	width:100%;
	height:auto;
	overflow:auto;
	border-top:1px solid lightgrey;
	padding: 10px;
}
/*.previewRow:after {
  content: "";
  display: table;
  clear: both;
}
.col-40{
  float: left;
  width: 40%;
  margin-top: 6px;
  height:100px;
}
.col-60{
	float:left;
	width:60%;
	margin-top:6px;
	height:100px;
	line-height: 7;
}
.previewImg{
	height:100px;
}*/

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0s;
  animation: animatezoom 0s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
@media screen and (max-width: 500px) {
	.col-40,.col-60{
	 width: 100%;
     margin-top: 0;
	}
}

/*Preview Image*/
.product-images{
  list-style: none;
    margin: 0;
    padding: 0;
}

.product-images li {
  float: left;
  width: 200px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  margin-right: 10px;
}
.mailbox-attachment-name {
  font-weight: bold;
  color: #666;
}
.product-images-icon,
.product-images-footer,
.product-images-delete-button {
  display: block;
}
.product-images-footer {
  padding: 10px;
  background: #f4f4f4;
}
.product-images-delete-button {
  color: #999;
  font-size: 12px;
}
.product-images-icon {
  text-align: center;
  font-size: 65px;
  color: #666;
  padding: 20px 10px;
}
.product-images-icon.has-img {
  padding: 0;
}
.product-images-icon.has-img > img {
  max-width: 100%;
  height: 150px;
}

.removeImage,
.updateRemoveImage{
  height: 20px;
  width: 24px;
  color: red;
  background-color: whitesmoke;
  border: none;
  cursor: pointer
}
.pull-right
{
  float:right;
}


/*Toggle Switch radio button*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 40%;
}