body{
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
  height: 51px;
  background-color: lightgrey;
  margin: 0px;
  padding: 0px;
}

#form-headers{
  text-align: center;
  font-weight: bold;
  color: white;
  text-transform:uppercase;
  background-image: linear-gradient(to right, #0000FF ,#8A2BE2,lightblue );
  margin-bottom: 0%;
  margin-right:-20px;
  margin-left:-20px;
}
.form-title{
	font-weight:bold;
	font-size:35px;
	padding-bottom:2px;
}
.sub-heading{
	font-size:30px;
	font-weight:400;
	line-height:1.65;
}
 option {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: inherit;
}
#refresh-btn{
  width: 40px;
  height: 30px;
  background-color: cornflowerblue;
  border: 1px solid cornflowerblue;
  border-radius: 4px;
}
#refresh-icon{
  color: white;
   font-size: 20px;
}
.footer{
  margin-top: 20px;
}
* {
  box-sizing: border-box;
}

.input-fields {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

.labels {
  padding: 12px 12px 12px 0;
  font-weight: bold;
  display: inline-block;
}
.mandatory{
  color:red;
}
.btw{
  text-align: center;
}
.submit-register-form {
  background-color: blue;
  color: white;
  margin-top: 4px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size:18px;
  float: center;
}

.submit-register-form:hover {
 border-color: lightblue;
}

.containers {
  width: 95%;
  margin-top: 6%;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 0px 20px 20px 20px;
  border: 2px solid cornflowerblue;
  
}
.divide-containers{
	width:50%;
	float:left;
	padding :10px;
}
.mr-top--10{
	margin-top:-10px;
}
.mr-top-8{
	margin-top:8px;
}
.cols-15
{
  float: left;
  width: 15%;
  margin-top: 6px;
}

.cols-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.cols-50{
  float: left;
  width: 50%;
  margin-top: 6px;
}
.cols-60{
  float: left;
  width: 60%;
  margin-top: 6px;
}
.cols-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.rows:after {
  content: "";
  display: table;
  clear: both;
}


/* Popover */
  .popover {
    border: 1px solid grey;
    border-radius:5px;
  }
  /* Popover Header */
  .popover-title {
    background-color: lightgrey; 
    color: #000000; 
    text-align:center;
  }
  /* Popover Body */
  .popover-content {
    background-color: white;
    color: #000000;
    padding: 25px;
  }
  /* Popover Arrow */
  .arrow {
    border-right-color: #000000;
  }

  
@media screen and (max-width: 790px) {
 
   .containers{
    margin-left: 4px;
    margin-top: 10px;
    width: 98%;
   }
   .divide-containers{
    width:100%
   }
  .cols-25, .cols-15,.cols-50, .cols-60, .cols-75, submit-register-form {
    width: 100%;
    margin-top: 0;
  }
}