.search-result-layer{
  position: fixed;
  z-index: 900;
  right: 3%;
  width: 350px;
  background-color:white;
  max-height:200px;
  box-shadow: 0 0 10px #c0826f;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; 
}
.header-search-bar1{
	overflow:auto;
}
.search-height{
	max-height:200px;
}
@media only screen and (min-width: 2900px) and (max-width: 3790px){
	.search-result-layer{
     right:4%;
   }
}
@media only screen and (min-width: 2400px) and (max-width: 2900px)
{
    .search-result-layer{
     right:5%;
   }
	
}
@media only screen and (min-width: 2065px) and (max-width: 2400px){
	 .search-result-layer{
     right:6%;
   }
}

 @media only screen and (min-width: 1750px) and (max-width: 2065px){
    .search-result-layer{
     right:7%;
   }
 }

 @media only screen and (min-width: 1500px) and (max-width: 1750px){
    .search-result-layer{
     right:8%;
   }
 }
 @media only screen and (min-width: 1350px) and (max-width: 1500px){
   .search-result-layer{
     right:10%;
   }
 }



 @media only screen and (min-width: 991px) and (max-width: 1350px){
   .search-result-layer{
      right:12%;
   }
 }
 
  @media only screen and (min-width: 768px) and (max-width: 991px) {
   .search-result-layer{
      width:300px;
      right:15%;
   }
  }
  @media only screen and (max-width: 767px){
  .search-result-layer{
      width:170px;
   }
  }
  @media only screen and (min-width: 480px) and (max-width: 767px){
     .search-result-layer{
      width:270px;
      right:16%;
     
   }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px){
     .search-result-layer{
      width:300px;
   }
  }
   @media only screen and (max-width: 480px){
       .search-result-layer{
           right:23%;
           width:250px;
       }
       .add-border-bottom{
       text-align:center;
       }
   }



.add-border-bottom{
	border-bottom: 1px solid lightgrey;
    height: 28px;
    padding-left: 64px;
    padding-top: 2px;
}