<cfif structkeyExists(form,"email") And structkeyExists(form,"password")>
	<cfset variables.check = CreateObject("component","component.authenticationService")/>
	<cfset  variables.errorMessage = check.validateUser(email,password)>
	<cfif errorMessage NEQ 1>
		<cfoutput>
			#errorMessage#
		</cfoutput>
	<cfelse>
		<cfset variables.isUserLogged = check.doLogin(email,password)>
		<cfif isUserLogged>
			<cfset errorMesaage = "1">
			<cfoutput>
				#errorMessage#
			</cfoutput>
		<cfelse>
			<cfset errorMessage = "Error!!Either Password or email is incorrect">
			<cfoutput>
				#errorMessage#
			</cfoutput>
		</cfif>
	</cfif>
	<cfelse>
	<cflocation url="dashboard.cfm" statuscode="301" addtoken="false">
</cfif>
